/***
 * Typography and colors
 */

body {
  line-height: 1.5;
}

a {
  color: #888;
  text-decoration: none;
}

a:hover {
  color: #666;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

ul {
  list-style: none;
}

li:before {
  content: "▸";
  padding-right: 0.5em;
}

/***
 * Layout
 */

header, details, main {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 768px;
  padding: 0 1em;
}

header {
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}

header > * {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

header > h1 {
  margin: 0;
}

header > .social,
header > h2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

header > h2 {
  margin-top: 2em;
}

.contact {
  text-align: right;
}

details summary {
  display: block;
  font-size: 125%;
  font-style: italic;
}

main > section {
  margin-top: 2em;
}

/***
 * Print layout
 */

@media print {
  body {
    font-size: 80%;
    line-height: 1.15;
  }
}
