/***
 * Typography and colors
 */

a {
  color: #ed1b24;
  text-decoration: none;
}

a:hover {
  color: #aa151c;
}

h3 {
  font-weight: initial;
  font-variant: small-caps;
}

/***
 * Layout
 */

header, details, main {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 768px;
  padding: 0 1em;
}

details summary {
  display: block;
  font-size: 125%;
  font-style: italic;
}
