/***
 * Typography and colors
 */

a {
  color: #ed1b24;
  text-decoration: none;
}

a:hover {
  color: #aa151c;
}

body {
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
}

/***
 * Layout
 */

header, details, main {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 768px;
  padding: 0 1em;
}

details summary {
  display: block;
  font-size: 125%;
  font-style: italic;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact > * {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.contact > *:first-child {
  padding-right: 1em;
}
